@model Contact
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Yeni İletişim Bilgisi Ekleme</h4>
<br />
<form class="form-group" method="post">
    <label>Adres</label>
    <input type="text" class="form-control" asp-for="Address" style="border:1px solid black" />
    <br />
    <label>Telefon No</label>
    <input type="text" class="form-control" asp-for="PhoneNumber" style="border:1px solid black" />
    <br />
    <label>E-Mail</label>
    <input type="text" class="form-control" asp-for="Email" style="border:1px solid black" />
    <br />
    <label>Konum</label>
    <input type="text" class="form-control" asp-for="Location" style="border:1px solid black" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>
