@model List<JobTitle>
@{
    var typedItems = string.Join(", ", Model.Select(x => x.Title));
}
<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <img src="/portfolioss/laptop-2620118_1280.jpg" alt="">

    <div class="container" data-aos="zoom-out">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2>Melih Çolak</h2>
                <p><span class="typed" data-typed-items="@typedItems">@Model.FirstOrDefault()?.Title</span> olarak projeler geliştiriyorum<span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
                <div class="social-links">
                    @await Component.InvokeAsync("_DefaultSocialMediaComponent")
                </div>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->
