@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Sosyal Medya Listesi</h4>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya</th>
        <th>Url</th>
        <th>İkon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>@item.Icon</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/SocialMedia/AddSocialMedia" class="btn btn-info">Yeni Sosyal Medya Hesabı Ekle</a>
