@model SocialMedia
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Sosyal Medya Hesabı Güncelleme</h4>
<br />
<form class="form-group" method="post">
    <label>Id</label>
    <input type="text" class="form-control" asp-for="SocialMediaId" style="border:1px solid black" readonly />
    <br />
    <label>Sosyal Medya</label>
    <input type="text" class="form-control" asp-for="Name" style="border:1px solid black" />
    <br />
    <label>Url</label>
    <input type="text" class="form-control" asp-for="Url" style="border:1px solid black" />
    <br />
    <label>İkon</label>
    <input type="text" class="form-control" asp-for="Icon" style="border:1px solid black" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
