
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@Html.Partial("/Views/AdminLayout/HeaderPartail.cshtml")
<body>
    <div class="wrapper d-flex align-items-stretch">

        @Html.Partial("/Views/AdminLayout/SideBarPartial.cshtml")
       
        <div id="content" class="p-4 p-md-5 pt-5">            
            @RenderBody()
        </div>
    </div>
    @Html.Partial("/Views/AdminLayout/ScriptPartial.cshtml")
</body>
</html>
