@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Proje Güncelleme</h4>
<br />
<form class="form-group" method="post">
    <label>Id</label>
    <input type="text" class="form-control" asp-for="PortfolioId" style="border:1px solid black" readonly />
    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid black" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" style="border:1px solid black" />
    <br />
    <label>Resim Url</label>
    <input type="text" class="form-control" asp-for="ImageUrl" style="border:1px solid black" />   
    <br />
    <label>Kategori</label>
    <select asp-for="CategoryId" asp-items="ViewBag.v" class="form-control" style="border:1px solid black">
        <option value="">--Seçiniz--</option>
    </select>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>

