 <!-- Stats Section -->
<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-person-lines-fill"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.testimonialCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Referans Sayım</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-briefcase-fill"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.portfolioCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Proje Sayım</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-lightning-fill"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.skillCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Yetenek Sayım</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-shuffle"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.randomNumber" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Random</p>
                </div>
            </div><!-- End Stats Item -->

        </div>
    </div>

</section><!-- /Stats Section -->