<header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
            <li><a href="#about"><i class="bi-person-circle"></i><span>Hakkımda</span></a></li>
            <li><a href="#skills"><i class="bi-lightbulb"></i><span>Yeteneklerim</span></a></li>
            <li><a href="#resume"><i class="bi-briefcase"></i><span>Deneyimlerim</span></a></li>
            <li><a href="#portfolio"><i class="bi-layout-text-window"></i><span>Projelerim</span></a></li>
            <li><a href="#services"><i class="bi-tools"></i><span>Hizmetlerim</span></a></li>
            <li><a href="#testimonials"><i class="bi-chat-dots"></i><span>Referanslarım</span></a></li>
            <li><a href="#contact"><i class="bi bi-envelope navicon"></i><span>İletişim</span></a></li>
        </ul>
    </nav>

</header>
