@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Yeni Kategori Ekleme</h4>
<br />
<form class="form-group" method="post">
    <label>Kategori</label>
    <input type="text" class="form-control" asp-for="CategoryName" style="border:1px solid black" />
    <br />
    <label>Sınıf</label>
    <input type="text" class="form-control" asp-for="ClassName" style="border:1px solid black" />
    <br />   
    <button class="btn btn-primary">Ekle</button>
</form>
