@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4>Kategori Listesi</h4>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori</th>
        <th>Sınıf</th>       
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.ClassName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori Ekle</a>
